/* styles nav */
.logo {
  width: auto;
  height: 20px;
  padding-left: 15%;
}

:root {
  --blue: #02428c;
  --lightBlue: #41cef8;
  --blueTwo: #0065ba;
  --blueThree: #003f8d;
  --blueFour: #00aeeb;
  --blueFive: #0093e2;
  --blueSix: #9be1fb;
}

.colorBlue {
  background: var(--blue);
}

.mt-1 {
  margin-top: 7%;
}

.respondMenu {
  background: var(--blueTwo);
}

.infoUser {
  height: 10vh;
  width: auto;
}

.circleUser {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px;
}

#usernew {
  width: 100%;
}

.titleUser {
  clear: both;
}

.graphic {
  border-radius: 10px;
  padding: 5px;
  height: 40vh;
  width: auto;
}

.usernameColor {
  color: var(--blueThree);
  font-weight: bolder;
}

.spend-month {
  margin-top: 10px;
  background-color: #f2f2f2;
  height: 25vh;
  width: auto;
  border-radius: 20px;
  padding: 5vh;
  box-sizing: border-box;
  color: #828282;
}

.spend-month-p {
  box-sizing: border-box;
  color: #828282;
  font-size: 1.5rem;
}

.grayLine {
  background: #828282;
}

.anualSpend {
  margin-top: 10px;
  height: 40vh;
  width: auto;
  border: 1px solid gray;
  border-radius: 20px;
}

.pet {
  height: 10vh;
  width: auto;
}

.quote {
  background: #c9c9c9;
  border-radius: 20px;
  padding: 10px;
}

.bgcolor {
  background: gray;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

footer a {
  margin: 10px;
  color: white;
}

/*Styles splash*/

.splash {
  background: rgb(86, 162, 250);
  font-family: "Roboto Condensed", sans-serif;
}

#change {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(
    #1e3f85e7,
    rgba(35, 99, 196, 0.719) 35%,
    rgba(157, 219, 243, 0.795)
  );
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.container h2 {
  position: absolute;
  top: 50%;
  line-height: 50px;
  height: 40px;
  margin-top: -50px;
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
}

.container h2.frame-1 {
  animation-delay: 0s;
}

.container h2.frame-2 {
  animation-delay: 2.5s;
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(0.9);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}

/* styles login */

.border {
  background: linear-gradient(140deg, #283d49, #4278a6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color .bg {
  background-color: #c5ecea82;
  height: 85%;
  width: 100%;
  display: block;
  position: absolute;
  width: 85.333333%;
  border-radius: 10px;
  border: #fff 1px solid;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
}

.close {
  width: 20%;
}

.row .container-login {
  padding: 0;
}

.containerButtons {
  margin-top: 45%;
}

.google {
  border-radius: 5px;
  margin-left: -4%;
}

.facebook {
  margin-top: 10%;
  border-radius: 5px;
  background-color: #0e177c;
  margin-left: -4%;
}

.user_id {
  width: 140px;
}

.userLogo {
  text-align: center;
  padding-top: 50px;
}

/* Style for view credits card */

.nav-background {
  background: #003F8D; 
}

.flex {
  display: flex;
  align-items: center;
}

[alt="tarjeta"] {
  width: 100%;
}

.icon-calendar-card {
  font-size: 3rem;
  text-align: right;
}

[alt="shop"] {
  width: 100%;
  height: 100%;
}

.title-card-section {
  display: inline-block;
}

.button-card {
  font-size: 0.7rem;
}

.bor-rad {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .color .bg {
    width: 35.333333%;
  }

  .containerButtons {
    margin-top: 100%;
  }

  .google {
    margin-top: -30%;
    margin-left: -4%;
  }

  /* Styles splash*/
  .splash {
    background: rgb(86, 162, 250);
  }

  .container h2 {
    line-height: 100px;
    height: 100px;
    font-size: 100px;
  }
}

.ruta {
  background-color: #4278A6;
  border-radius: 5px;
  color: white;
}

#map {
  height: 70vh;
  border: #fff 1px solid;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
  /* width: 500px; */
}

.box_input {
  margin-top: 20px;
}

#trazar {
  margin-bottom: 20px;
  margin-top: 15px;
}

@media (max-width: 768px) {
    .size-type {
        font-size: 0.9rem;
    }
    .spend-month {
      position: relative;
      bottom: 50px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      height: 120px;
    }
}
/* acounts style */
.color-blue-text {
  color: var(--blue);
}

.counts-title {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.img-size {
    height: 10px;
    width: 10px;
}
