<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../assets/images/logobbva.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>BBVA Continental</title>
  </head>
  <body>
    <nav class="colorBlue">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo left"><img src="../assets/images/LOGO.png" alt="Logo" class="logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
        <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="sass.html">Dashboard</a>
          </li>
          <li>
            <a href="badges.html">Mi cuenta</a>
          </li>
          <li>
            <a href="collapsible.html">Tarjetas de Credito</a>
          </li>
          <li>
            <a href="mobile.html">Mensajes</a>
          </li>
          <li>
            <a href="mobile.html">Ubicanos</a>
          </li>
          <li>
            <a href="mobile.html">Configuración</a>
          </li>
          <li>
            <a href="#">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav blue darken-4" id="mobile-demo">
      <li>
        <div class="infoUser">
          <div class="circleUser left"><img id="usernew" alt=""></div>
          <h6 class="center white-text">¡Hola!</h6>
          <p class="center white-text" id="username"></p>
        </div>
      </li>
      <hr>
      <li>
        <a href="principal.html" class="white-text"><i class="fas fa-chart-pie"></i> Dashboard<i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li>
        <a href="badges.html" class="white-text"><i class="far fa-address-card"></i> Mi cuenta <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li>
        <a href="collapsible.html" class="white-text"><i class="far fa-credit-card"></i> Tarjetas de Credito <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li>
        <a href="mobile.html" class="white-text"><i class="far fa-envelope"></i> Mensajes <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li class="active">
        <a href="mobile.html" class="white-text"><i class="fas fa-map-marker-alt"></i> Ubicanos <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <hr>
      <li>
        <a href="mobile.html" class="white-text"><i class="fas fa-cog"></i> Configuración <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li>
        <a href="mobile.html" class="white-text"><i class="fas fa-user-secret"></i> Privacidad y terminos <i class="fas fa-angle-right right-align right mt-1"></i></a>
      </li>
      <li>
        <a id="close" href="login.html" class="white-text">Cerrar Sesión <i class="fas fa-power-off right-align right mt-1"></i></a>
      </li>
    </ul>
    <section>
      <div class="">
        <div class="row">
          <div class="col s12 m6">
            <input id="inputOrigin" type="text" name="" value="" placeholder="Ingrese Dirección">
          </div>
          <div class="col s12 m6">
            <input id="inputDestination" type="text" name="" value="" placeholder="Ingrese Dirección">
          </div>
          <button type="button" name="button" id="trazar">Trazar ruta</button>
          <div class="col s12">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>
     <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
     <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDcm8g8VBYvPiNy9qWdhXMgtHZ-qsmKF3w&libraries=places"></script>
    <!-- <script src="../js/principal.js"></script> -->
    <script type="text/javascript" src="../js/map.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcm8g8VBYvPiNy9qWdhXMgtHZ-qsmKF3w&libraries=places&callback=initMap" async defer></script> -->
  </body>
</html>
